@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --branco: #f6f6f6;
  --branco-100: #f1f1f1;
  --cinza-50: #ebe9e9bd;
  --cinza-100: #dcdcdc;
  --cinza-200: #d3d3d3;
  --cinza-400: #c0c0c0;
  --cinza-500: #a9a9a9;
  --cinza-600: #808080;
  --cinza-700: #696969;
  --azul-100: #b0c4de;
  --azul-200: #ade1ff;
  --azul-300: #60bbf0;
  --azul-400: #4186e1;

  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.5;
  list-style: none;

  font-family: 'Inter', sans-serif;
  font-width: 600px;

  color: var(--cinza-700);
}

table {
  text-transform: upperCase;
  margin: 0px auto;
  width: 190vh;
  height: 80vh;
  text-shadow: 0px 1px 1px rgba(88,88,88,0.2);
  text-align: left;
  vertical-align: baseline;
  justify-content: left;
}

td,
tr,
table {
  background-color: var(--branco);
  justify-items: center;
}

.icons,
.par-icons:hover {
  cursor: pointer;
}

tr:hover {
  filter: brightness(0.975);
}

th {
  padding: 10px;
  padding-left: 20px;
  font-size: 11px;
}

td {
  padding-left: 20px;
  font-size: 10px;
}

input:before {
  color:#f1f1f1;
  content: '✔';
  font-size: 18px;
}

input{
  all:unset;
  cursor: pointer;
  margin: 4px auto;
  border: 2px solid rgb(27, 199, 199);
  border-radius:4px;
  width: 16px;
  height: 16px;

  background-color: rgb(27, 199, 199);
}

input:checked{
  background-color:#f1f1f1;
}
.par {
  background-color: var(--branco-100);
  box-shadow: 0px 0px 5px 0px var(--branco-100);
  -webkit-box-shadow: 0px 0px 5px 0px var(--branco-100);
  -moz-box-shadow: 0px 0px 5px 0px var(--branco-100);
  border-top:1px solid #ebe9e9bd;
  border-bottom:1px solid #ebe9e9bd;
}

.Container {
  width: 193vh;
  height: 100%;

  margin: 40px auto;
  padding-bottom: 10px;
  padding-top: 9px;

  background-color: var(--branco-100);
  border-left: 1px solid #739ebe;
  box-shadow: 1px px 5px 0px rgba(53,104,146,0.75);

  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.Elements {
  width: 190vh;
  height: 81vh;
  margin-left: 5px;

  background-color: var(--branco);
  border-radius: 5px;

  box-shadow: 0px 0px 5px 0px rgba(169, 169, 169, 0.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(169, 169, 169, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(169, 169, 169, 0.4);
}

.icons {

  height: 95%;
  display: flex;
  align-items: center;

}

.grid {
  display: grid;
  grid-template-columns: 80% 20%;
}

.profile {
  height: 14px;
  width: 110px;
  padding-top: 1px;

  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: #356892;
/*  c6e4f5*/
  background-color: #c0ecf7;
  border-radius: 7px;
}

.par-icons {
  height: 95%;
  display: flex;
  align-items: center;


  background-color: var(--branco-100);
  box-shadow: 0px 0px 5px 0px var(--branco-100);
  -webkit-box-shadow: 0px 0px 5px 0px var(--branco-100);
  -moz-box-shadow: 0px 0px 5px 0px var(--branco-100);
  border-top:1px solid #ebe9e9bd;
  border-bottom:1px solid #ebe9e9bd;
}

.delete {
  height: 18px;
  width: 18px;

  background-image: url("../../assets/delete.png");

  background-size: 100%;
}

.edit {
  height: 18px;
  width: 18px;
  background-image: url("../../assets/edit.png");
  background-size: 100%;
}

#ellipsis {
  height: 14px;
  width: 14px;
  background-image: url("../../assets/ret.png");
  background-size: 100%;

}

#ellipsis:hover {
  cursor: pointer;
}

.colunas {
  display: grid;
  grid-template-columns: 1fr 4fr 0fr;
  justify-content: left;
  text-align: left;
}

